@import "variables";

.about-container {
  max-width: 1040px;
  // height: 100%;
  margin: 0 auto;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    margin: 50px 0;
    h2 {
      font-size: 36px;
      color: #00a3e1;
    }
    span {
      &.icon {
        width: 36px;
        height: 39.6px;
        display: inline-block;
        background: $icon-about $bg-properties;
        filter: invert(53%) sepia(13%) saturate(4687%) hue-rotate(160deg)
          brightness(91%) contrast(104%);
      }
    }
  }
  .cont-about {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    .left {
      max-width: 75%;
      > .title {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .desc {
        margin-bottom: 16px;
        line-height: 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .right {
      .title {
        font-size: 22px;
        margin-bottom: 20px;
      }
      ul {
        .r_item {
          display: flex;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          span {
            &:nth-child(1) {
              font-weight: 700;
              border-bottom: 2px solid #00a3e1;
            }
            &:nth-child(2) {
              margin: 0 6px;
            }
          }
        }
      }
    }
  }
  .job-about {
    color: #fff;
    .title_wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
      .title {
        display: inline-block;
        text-align: center;
        border-bottom: 2px solid #00a3e1;
        padding-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
      }
    }
    .cont-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item {
        &:first-child {
          background: black;
        }
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .icon {
          width: 36px;
          height: 36px;
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(39deg)
            brightness(103%) contrast(101%);
        }
        &:nth-child(1) {
          .icon {
            background: $icon-development $bg-properties;
          }
        }
        &:nth-child(2) {
          .icon {
            background: $icon-design $bg-properties;
          }
        }
        &:nth-child(3) {
          .icon {
            background: $icon-planning $bg-properties;
          }
        }
      }
    }
  }
}
