@import "variables";

body {
  height: 100vh;
}
.portfolio-container {
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: 50px;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    h2 {
      font-size: 36px;
      color: #00a3e1;
    }
    span {
      &.icon {
        width: 36px;
        aspect-ratio: 20 / 22;
        display: inline-block;
        background: $icon-work $bg-properties;
        filter: invert(53%) sepia(13%) saturate(4687%) hue-rotate(160deg)
          brightness(91%) contrast(104%);
      }
    }
  }
  .work-item {
    padding: 30px 40px;
    background-color: #fafafa;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
    .left {
      margin-right: 50px;
      .img {
        background: $bg-properties $img-kkst-mockup;
        width: 300px;
        aspect-ratio: 2539 / 2118;
      }
    }
    .right {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      .project-info {
        .title-wrap {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .text {
            &:nth-child(1) {
              font-weight: 600;
              width: 90px;
            }
            &:nth-child(2) {
              margin: 0 10px;
            }
          }
        }
        .category {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .text {
            &:nth-child(1) {
              font-weight: 600;
              width: 90px;
            }
            &:nth-child(2) {
              margin: 0 10px;
            }
          }
        }
        .desc {
          margin-bottom: 15px;
          .title {
            margin-bottom: 10px;
          }
          .text {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .skill {
          .title {
            margin-bottom: 10px;
          }
        }
      }
      .submenu {
        .submenu-btn {
          margin-right: 10px;
          padding: 10px 20px;
          background-color: #00a3e1;
          border: none;
          color: white;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background-color: #65b7d7;
          }
        }
      }
    }
  }
}
