// SVG 아이콘 변수 설정
$icon-home: url("../icons/icon_home.svg");
$icon-about: url("../icons/icon_about.svg");
$icon-resume: url("../icons/icon_resume.svg");
$icon-portfolio: url("../icons/icon_portfolio.svg");
$icon-planning: url("../icons/icon_planning.svg");
$icon-development: url("../icons/icon_development.svg");
$icon-design: url("../icons/icon_design.svg");
$icon-hambuger: url("../icons/icon_hambuger.svg");
// IMG 변수 설정
$img-profile: url("../images/profile-img.jpg");
$img-kkst-mobile: url("../images/KKST-M-img.png");
//
$bg-properties: no-repeat center / cover;
