// SVG 아이콘 변수 설정
$icon-home: url('../icons/icon_home.svg');
$icon-about: url('../icons/icon_about.svg');
$icon-about2: url('../icons/icon_about2.svg');
$icon-resume: url('../icons/icon_resume.svg');
$icon-portfolio: url('../icons/icon_portfolio.svg');
$icon-planning: url('../icons/icon_planning.svg');
$icon-development: url('../icons/icon_development.svg');
$icon-design: url('../icons/icon_design.svg');
$icon-hambuger: url('../icons/icon_hambuger.svg');
$icon-work: url('../icons/icon_work.svg');
$icon-review: url('../icons/icon_review.svg');
$icon-prev: url('../icons/icon_prev.svg');
$icon-next: url('../icons/icon_next.svg');
// IMG 변수 설정
$img-profile: url('../images/profile-img.jpg');
$img-kkst-mockup: url('../images/KKST-Mockup.png');
$img-netflix-mockup: url('../images/Netflix-Mockup.png');
$img-shinhan-mockup: url('../images/Shinhan-Mockup.png');
// $img-docuguard-mockup: url("../images/DocuGuard-Mockup.png");
// $img-docuguard-img1: url("../images/DocuGuard-img1.png");
$img-docuguard-img1: url('../images/DocuGuard-img2.png');
$img-docuguard-img2: url('../images/DocuGuard-img3.png');
$img-docuguard-img3: url('../images/DocuGuard-img4.png');
$img-docuguard-img4: url('../images/DocuGuard-img5.png');
$img-docuguard-img5: url('../images/DocuGuard-img6.png');
$img-docuguard-img6: url('../images/DocuGuard-img7.png');
//
$bg-properties: no-repeat center / cover;
